:root {
  --width: 128px;
  --height: 128px;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  background-color: #00807F;
  color: white;
  position: relative;
  min-height: 100vh;
}

.readme {
  background-color: black;
}

.folder {
  /* To return to absolute folder positions, uncomment the line below and parse the --left and --top values in the folder class */
  /* position: absolute; */
  left: calc(var(--left) - var(--width) / 2);
  top: calc(var(--top) - var(--height) / 2);
  width: calc(var(--width) * 1.25);
  height: var(--height);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder:hover {
  border-width: 1px;
  border-style: dotted;
  width: calc(var(--width) * 1.25 - 2px);
  height: calc(var(--height) - 2px);
}

img {
  width: calc(var(--width) / 2);
  height: calc(var(--height) / 2);
  image-rendering: pixelated;
  padding-bottom: .5rem;
}

main {
  margin: 2rem;
}

a {
  color: white;
  text-decoration: none; 
}

ul {
  list-style: none;
}

.centered {
  width: 100%;
  text-align: center;
  padding: .5rem;
}

nav {
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

.folder-pos {
  position: absolute;
}

.readme-pos {
  top: 5%;
  left: 3%;
}

.blog-pos {
  top: 22%;
  left: 3%;
}

.project-pos {
  top: 39%;
  left: 3%;
}

.trash-pos {
  top: 56%;
  left: 3%;
}

.doom-pos {
  bottom: 5%;
  right: 3%;
  top: auto;
  left: auto;
}